   <!-- home
   ================================================== -->
   <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src={{ site.data.assets.background }} data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello There</h3>

                <h1>
                    Ich bin Tanul. <br>  
                    I am a Quantum <br>
                    Information Physicist <br>
                    at Research Centre <br>
                    Jülich.
                </h1>

                <div class="home-content__buttons">
                    <a href="#blog" class="smoothscroll btn btn--stroke">
                        Selected Articles
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Scroll Down</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
                        <li><a href="https://www.facebook.com/tanulgupta">
                            <i class="im im-facebook" aria-hidden="true"></i>
                            <span>Facebook</span>
                        </a></li>
                        <li><a href="https://twitter.com/TanulGupta1990">
                            <i class="im im-twitter" aria-hidden="true"></i>
                            <span>Twitter</span>
                        </a></li>
                        <li><a href="https://www.instagram.com/tanul.gupta">
                            <i class="im im-instagram" aria-hidden="true"></i>
                            <span>Instagram</span>
                        </a></li>
                        <li><a href="https://github.com/galvanixer">
                            <i class="im im-github" aria-hidden="true"></i>
                            <span>Github</span>
                        </a></li>
                        <li><a href="https://www.linkedin.com/in/tanul-gupta-b75b2513/">
                            <i class="im im-linkedin" aria-hidden="true"></i>
                            <span>Linkedin</span>
                        </a></li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->