    <!-- works
    ================================================== -->
    <section id="memories" class="s-works target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Memories</h3>
                <h1>The life goes by...</h1>
                
                <p class="lead"> 
                The most defining events in our life are rarely captured in reel.
                Hence, we try and consciously capture moments thinking that they might become important some day.
                They rarely attain that status.
                Then arrive the clicks, which were never intended, yet somehow they got captured and became profound.
                </p>
            </div>
        </div>

        <div class="row masonry-wrap">
            <div class="masonry">
                {% for item in site.data.memories %}
               <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href={{item.image}} class="thumb-link" title={{item.title}} data-size={{item.size}}>
                                <img src={{item.image_thumbnail}} alt="">
                                <!--<img src={{item.image_thumbnail}} 
                                     srcset="/assets//assets/images/portfolio/beetle.jpg 1x, /assets/images/portfolio/beetle@2x.jpg 2x" alt=""> -->
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                {{ item.title }}
                            </h3>
                            <p class="item-folio__cat">
                                {{ item.caption }}
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>{{ item.description }}</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
                {% endfor %}

 


            </div>
        </div> <!-- end masonry -->

    </section> <!-- end works -->