    <!-- header
    ================================================== -->
    <header class="s-header">
            
        <div class="header-logo">
            <a class="site-logo" href="/"><img src="/assets/images/logo.png" alt="Homepage"></a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
            	{% for item in site.data.navigation_blog %}
                
                <li><a href="{{item.link}}" title={{ item.title}}>{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->