    <!-- s-cta
    ================================================== -->
    <section class="s-cta">
        
        <div class="row narrow cta">

            <div class="col-full cta__content">

                <h2 class="h01"> मननम् </h2>

                <p class="quote">
                समर शेष है, नहीं पाप का भागी केवल व्याध, <br>
                जो तटस्थ है, समय लिखेगा उनके भी अपराध। <br>
                </p>
                <p class="author">- रामधारी सिंह दिनकर </p>

                <!-- <div class="cta__action">
                    <a class="btn btn--primary btn--large" href="">रामधारी सिंह दिनकर</a>
                </div>	
                -->

            </div>

        </div> <!-- end cta -->
        
    </section>